#region-main {
    > div {
        padding-left: 0 !important;
        padding-right: 0 !important;
        display: flex !important;
        flex-direction: column;
        gap: $margin-m;

        > #intro:empty {
            padding: $margin-m 0 0 0 !important;
        }

        > *:empty {
            display: none !important;
        }

        > h2 {
            margin-bottom: 0 !important;
        }

        > .activity-information {
            padding: 0 !important;
            margin-top: calc($margin-s * -1) !important;
            margin-bottom: 0 !important;
            border-bottom: none !important;
            font-size: $text-s !important;
            display: flex !important;
            flex-direction: column;
            gap: $margin-s;

            > div {
                margin: 0 !important;
            }
        }

        > .box {
            padding: 0 $margin-m + $margin-xs $margin-m $margin-m + $margin-xs !important;
            margin: 0 !important;
            border-bottom: 1px solid $border !important;

            p:empty {
                display: none !important;
            }

            &.foldertree,
            &.folderbuttons {
                border-bottom: 0px solid $border !important;
                margin: 0 !important;
            }

            &.foldertree {
                padding: 0 $margin-m + $margin-xs $margin-m $margin-m + $margin-xs !important;
            }

            &.folderbuttons {
                padding: 0 $margin-m + $margin-xs !important;
            }
        }

        > .quizinfo,
        .quizattempt {
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
            border-bottom-width: 0 !important;
        }

        > .submissionstatustable {
            margin-bottom: 0 !important;

            > .box {
                margin: 0 !important;
                padding: 0 !important;

                &.submissionaction {
                    margin-top: $margin-m !important;
                }

                > table {
                    margin-bottom: 0 !important;

                    > tbody,
                    > tbody > tr {
                        display: flex !important;
                        flex-direction: column !important;
                    }

                    > tbody {
                        gap: $margin-m;

                        > tr {
                            background-color: unset !important;
                            gap: 0;

                            &:hover {
                                background-color: unset !important;
                            }
                        }

                        > tr {
                            > th,
                            > td {
                                width: unset !important;
                                height: unset !important;
                                padding: 0 !important;
                                border-width: 0 !important;
                                font-size: $text-m !important;
                                font-weight: 500 !important;
                                background-color: unset !important;

                                &.submissionstatussubmitted::before,
                                &.submissiongraded:before,
                                &.earlysubmission::before {
                                    content: "● ";
                                    color: $success;
                                }

                                &.submissionnotgraded::before,
                                &.submissionreopened:before,
                                &.submissionstatus::before {
                                    content: "● ";
                                    color: $foreground-secondary;
                                }

                                &.submissionlocked:before,
                                &.latesubmission::before,
                                &.gradingreminder::before {
                                    content: "● ";
                                    color: $destructive;
                                }

                                &.submissionstatusdraft:before {
                                    content: "● ";
                                    color: $warning;
                                }

                                > .box {
                                    padding: 0 !important;
                                }
                            }

                            > th {
                                color: $foreground-secondary !important;
                            }

                            > td {
                            }
                        }
                    }
                }
            }
        }

        .submithelp {
            padding-top: $margin-s !important;
            padding-bottom: 0 !important;
            font-size: $text-s !important;
            font-weight: 500 !important;
        }

        .course_category_tree {
            padding: 0 !important;

            a {
                font-weight: 500;
            }

            .subcategories {
                display: flex !important;
                flex-direction: column;
                gap: $margin-m;

                .content {
                    margin: $margin-s 0 0 $margin-l !important;
                    padding: 0 !important;
                    display: flex !important;
                    flex-direction: column;
                    gap: $margin-s;
                }

                .category.collapsed > .content {
                    display: none !important;
                }
            }

            .categoryname {
                margin: 0 !important;
                padding: 0 0 0 $margin-l !important;
            }

            .categoryname a {
                color: $foreground !important;
            }

            .courses {
                .coursebox {
                    padding: $margin-s 0 !important;

                    &.even {
                        background-color: unset !important;
                    }

                    .info {
                        display: flex !important;
                        gap: $margin-m !important;
                    }

                    .coursename {
                        margin: 0 !important;
                        flex-grow: 1 !important;
                        flex-wrap: nowrap;

                        a {
                            color: $foreground !important;
                            padding-left: $margin-l !important;
                            background-position: left 0.1em !important;
                        }
                    }

                    .enrolmenticons {
                        display: flex !important;
                        gap: $margin-m !important;
                    }

                    .moreinfo,
                    .enrolmenticons {
                        padding: 0 !important;
                    }
                }
            }
        }

        > .activity-information,
        > h2,
        > .submissionstatustable,
        > .modified,
        > div:has(> p),
        > .resourceworkaround,
        > #studentTable,
        > .simplesearchform,
        > .course_category_tree,
        > .categorypicker {
            margin-left: $margin-m + $margin-xs !important;
            margin-right: $margin-m + $margin-xs !important;
        }
    }
}

div.activity-navigation {
    padding: 0 !important;
    margin: 0 0 $margin-m 0 !important;
    width: unset !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

    .row {
        width: unset !important;

        .col-md-4 {
            padding: 0 !important;

            > div {
                max-width: 100% !important;
            }

            a {
                overflow: hidden !important;
                max-width: 100% !important;
                background-color: $background-secondary !important;
                color: $foreground-secondary !important;
                text-wrap: nowrap !important;
                text-overflow: ellipsis !important;
                border-radius: 0 0 0 $corners * 1.5 !important;

                &:hover {
                    color: $foreground !important;
                    background-color: $button-hover !important;
                }

                &:active {
                    background-color: $primary !important;
                    color: $primary-foreground !important;

                    i {
                        color: $primary-foreground !important;
                    }

                    &:hover {
                        border-color: $primary-hover !important;
                        background-color: $primary-hover !important;
                    }
                }
            }

            .custom-select {
                background-color: $background-secondary !important;
                color: $foreground-secondary !important;
                border-width: 0 1px !important;
                border-color: $border !important;
                font-size: $text-s !important;
                font-weight: 500 !important;
                padding: $margin-s $margin-m !important;

                &:hover {
                    color: $foreground !important;
                    background-color: $button-hover !important;

                    &:focus {
                        background-color: $primary !important;
                        color: $primary-foreground !important;
                        outline: 0 !important;
                        -webkit-box-shadow: none !important;
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}
