.aabtn.focus,
.aabtn:focus,
.btn-link.focus,
.btn-link:focus,
.nav-link.focus,
.nav-link:focus,
.editor_atto_toolbar button.focus,
.editor_atto_toolbar button:focus,
[role="button"].focus,
[role="button"]:focus,
.list-group-item-action.focus,
.list-group-item-action:focus,
input[type="checkbox"].focus,
input[type="checkbox"]:focus,
input[type="radio"].focus,
input[type="radio"]:focus,
input[type="file"].focus,
input[type="file"]:focus,
input[type="image"].focus,
input[type="image"]:focus,
.sr-only-focusable.focus,
.sr-only-focusable:focus,
a.dropdown-toggle.focus,
a.dropdown-toggle:focus,
.modal-dialog[tabindex="0"].focus,
.modal-dialog[tabindex="0"]:focus,
.moodle-dialogue-base .closebutton.focus,
.moodle-dialogue-base .closebutton:focus,
button.close.focus,
button.close:focus,
.form-autocomplete-selection.focus,
.form-autocomplete-selection:focus,
[role="treeitem"]:not([aria-expanded="true"]).focus,
[role="treeitem"]:not([aria-expanded="true"]):focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.05rem $primary !important;
    box-shadow: 0 0 0 0.05rem $primary !important;
}

*,
html * {
    scrollbar-color: $border transparent;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background-color: $border;
    border-radius: $corners;
    border: 3px solid transparent;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
    background: transparent;
}

@supports not selector(:focus-visible) {
    .btn:focus {
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.05rem $primary !important;
        box-shadow: 0 0 0 0.05rem $primary !important;
    }
}

.icon {
    margin: 0 !important;
    font-size: $text-m !important;
    width: $text-m !important;
    height: $text-m !important;

    &::before {
        vertical-align: middle !important;
    }
}

a,
a.aalink,
a.coursename {
    color: $primary !important;
    text-decoration: none !important;

    #page-content &:not(.dropdown-item):not(.fpwonderbox &) {
        i {
            color: $primary !important;
        }

        &:hover,
        &:hover i {
            color: $primary-hover !important;
            text-decoration: underline !important;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: $margin-s !important;
    font-weight: 600 !important;
    line-height: 1.25 !important;
}

h1 {
    font-size: $text-xxl !important;
}

h5 {
    font-size: $text-l;
}

div.mt-3,
div.my-3 {
    margin-top: $margin-s + $margin-xs !important;
}

button.btn,
input.btn,
a.btn,
.btn,
button.btn-secondary,
input.bbtn-secondary,
a.bbtn-secondary,
.btn-secondary {
    font-weight: 500 !important;
    color: $primary-foreground !important;
    background-color: $primary !important;
    border-width: 0px !important;
    padding: $margin-s $margin-m !important;
    font-size: $text-s !important;
    line-height: 1.25 !important;
    border-radius: $corners !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

    &:hover {
        background-color: $primary-hover !important;
    }

    &.btn-outline-secondary,
    &.btn-icon {
        background-color: $background-secondary !important;
        color: $foreground-secondary !important;

        &:hover:not(:active):not([aria-expanded="true"]:not(.nav-link)) {
            color: $foreground !important;
            background-color: $button-hover !important;
        }
    }

    &.btn-outline-secondary {
        border: 1px solid $border !important;
    }

    &.btn-icon {
        padding: $margin-s !important;
        height: auto !important;
        width: auto !important;
        aspect-ratio: 1/1 !important;
    }

    &:has(.d-sm-inline-block) {
        i {
            margin-right: $margin-s !important;
        }
    }

    &:active,
    &[aria-expanded="true"]:not(.nav-link) {
        border-color: $primary !important;
        background-color: $primary !important;
        color: $primary-foreground !important;

        i {
            color: $primary-foreground !important;
        }

        &:hover {
            border-color: $primary-hover !important;
            background-color: $primary-hover !important;
        }
    }

    &:focus {
        outline: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    &:focus-visible {
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.05rem $primary !important;
        box-shadow: 0 0 0 0.05rem $primary !important;
    }
}

.dropdown-menu,
.popover-region-container {
    margin: 0 !important;
    padding: $margin-xs 0 !important;
    overflow-x: hidden !important;

    background-color: $background-secondary !important;
    border-color: $border !important;
    border-radius: $corners !important;
    border-width: 1px !important;
    box-shadow: $shadow-drow-down !important;

    .dropdown-divider {
        margin: $margin-xs 0 !important;
    }

    .dropdown-item {
        color: $foreground !important;
        padding: $margin-s $margin-m !important;
        font-size: $text-s !important;
        font-weight: 500 !important;
        color: $foreground;
        display: flex !important;
        align-items: center;
        flex-direction: row;
        gap: $margin-s + $margin-xs;

        &:hover {
            background-color: $button-hover !important;
        }

        &:active {
            background-color: $primary-hover !important;
            color: $primary-foreground !important;
            box-shadow: none !important;
            -webkit-box-shadow: none !important;
        }

        &[aria-current="true"] {
            background-color: $primary !important;
            color: $primary-foreground !important;

            &::before {
                display: none !important;
            }

            &:hover {
                background-color: $primary-hover !important;
            }
        }
    }
}

.popover-region-toggle::after,
.popover-region-toggle::before {
    display: none !important;
}

.popover-region-container {
    top: unset !important;
    padding: 0 !important;
    overflow-y: hidden;
    display: flex !important;
    flex-direction: column !important;
    transition: none !important;
    -webkit-transition: none !important;

    > * {
        padding: $margin-s $margin-m !important;
    }

    .popover-region-header-container {
        height: auto !important;
        line-height: unset !important;
        display: flex !important;
        align-items: center;

        > h3 {
            margin: 0 !important;
            flex-grow: 1;
            font-size: $text-s;
            // text-transform: uppercase;
        }
    }

    .popover-region-content-container {
        .empty-message {
            font-size: $text-s;
            color: $foreground-secondary;
            text-transform: uppercase;
        }
    }

    .see-all-link {
        padding: 0 !important;

        > div {
            padding: $margin-s $margin-m !important;
            height: auto !important;
            font-weight: 500 !important;

            &:hover {
                background-color: $button-hover !important;
            }
        }
    }
}

.card,
.fpwonderbox,
#page-footer,
.course-content {
    background-color: $background-secondary !important;
    border-radius: $corners * 1.5 !important;
    border: 1px solid $border !important;
    // box-shadow: $shadow !important;
    padding: $margin-m $margin-m + $margin-xs !important;

    .card-body,
    &.fpwonderbox {
        padding: 0 !important;
    }
}
