@import "variables";
@import "controls";
@import "navigation";
@import "page";
@import "tweaks";

/* scroll */
*,
html * {
    scrollbar-color: $border transparent;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background-color: $border;
    border-radius: $corners;
    border: 3px solid transparent;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
    background: transparent;
}

/* html, body */
html {
    background-color: $background !important;
}

body {
    font-size: $text-m !important;
    font-weight: 400 !important;
    color: $foreground !important;
    line-height: 1.25 !important;
    background-color: $background !important;
    padding: $margin-m $adaptive-margin-max $margin-m $adaptive-margin-max !important;
    margin: $navigation-height 0 0 0 !important;
    display: flex !important;
    flex-direction: column;
    gap: $margin-m;
    height: fit-content !important;
    min-height: calc(100vh - $navigation-height) !important;

    &.drawer-open-left {
        padding-left: $drawer-width + $margin-m + $adaptive-margin-max !important;
    }

    &.drawer-ease {
        transition: none !important;
        // transition:
        //     padding-left 0.5s ease 0s,
        //     padding-right 0.5s ease 0s !important;
    }

    @media screen and (max-width: $adaptive-margin-l-width) {
        & {
            padding-left: $adaptive-margin-l !important;
            padding-right: $adaptive-margin-l !important;
        }

        &.drawer-open-left {
            padding-left: $drawer-width + $margin-m + $adaptive-margin-l !important;
        }
    }

    @media screen and (max-width: $adaptive-margin-m-width) {
        & {
            padding-left: $adaptive-margin-m !important;
            padding-right: $adaptive-margin-m !important;
        }

        &.drawer-open-left {
            padding-left: $drawer-width + $margin-m + $adaptive-margin-m !important;
        }
    }

    @media screen and (max-width: $adaptive-margin-s-width) {
        & {
            padding-left: $adaptive-margin-s !important;
            padding-right: $adaptive-margin-s !important;
        }

        &.drawer-open-left {
            padding-left: $drawer-width + $margin-m + $adaptive-margin-s !important;
        }
    }

    @media (max-width: $adaptive-margin-min-width) {
        & {
            padding-left: $adaptive-margin-min !important;
            padding-right: $adaptive-margin-min !important;
        }

        &.drawer-open-left {
            padding-left: $adaptive-margin-min !important;
        }
    }

    > div:not(#page-wrapper) {
        margin: 0 !important;
        border-radius: $corners !important;
        box-shadow: $shadow !important;
    }
}
