jdiv .button_eba0,
div#goto-top-link > a {
    margin: $margin-l !important;
}

div#goto-top-link {
    margin-bottom: calc(($margin-l * 3) + 65px) !important;

    > a {
        width: 65px !important;
        height: 65px !important;
        border-radius: 50% !important;
        align-content: center;

        .icon {
            width: auto !important;
            height: auto !important;
            font-size: 24px !important;
        }
    }
}

a#back-to-top {
    aspect-ratio: 1/1 !important;
    bottom: $margin-l !important;
    width: 48px !important;
    height: 48px !important;
    align-content: center !important;
    padding: 0 !important;

    i {
        font-size: $text-xxl !important;
        top: -0.025rem !important;
        position: relative;
    }

    &:hover {
        background-color: $primary-hover;
    }

    &:focus {
        outline: 0;
    }
}

a#back-to-top,
div#goto-top-link > a,
jdiv .iconWrap_e804 {
    background-color: $primary;
    border-width: 0 !important;
    border-radius: 50% !important;

    i {
        color: $primary-foreground;
    }

    &:hover {
        background-color: $primary-hover;
    }

    &:focus {
        outline: 0;
    }
}

div#page-wrapper {
    > nav.navbar {
        background-color: $background-secondary !important;
        display: flex !important;
        align-items: center;
        gap: $margin-l;
        max-height: $navigation-height !important;
        box-shadow: $shadow !important;
        padding: 0 $adaptive-margin-max !important;

        transition: none !important;

        // transition:
        //     padding-left 0.5s ease 0s,
        //     padding-right 0.5s ease 0s !important;

        @media screen and (max-width: $adaptive-margin-l-width) {
            & {
                padding: 0 $adaptive-margin-l !important;
            }
        }

        @media screen and (max-width: $adaptive-margin-m-width) {
            & {
                padding: 0 $adaptive-margin-m !important;
            }
        }

        @media screen and (max-width: $adaptive-margin-s-width) {
            & {
                padding: 0 $adaptive-margin-s !important;
            }
        }

        @media (max-width: $adaptive-margin-min-width) {
            & {
                padding: 0 $adaptive-margin-min !important;
            }
        }

        > * {
            margin: 0 !important;
        }

        button.nav-link,
        .coursecontrols a {
            margin: 0 !important;
            width: 2rem;
            height: 2rem;
            padding: 0 !important;
            border: 1px solid $border !important;
            background-color: $background-secondary !important;
            align-content: center;

            i {
                color: $foreground-secondary;
            }

            &:hover {
                background-color: $button-hover !important;
            }

            &:active {
                background-color: $primary-hover !important;
                i {
                    color: $primary-foreground;
                }
            }

            &:focus {
                outline: none !important;
            }
        }

        .coursecontrols:not(:has(a)) {
            display: none !important;
        }

        a.navbar-brand {
            display: flex !important;
            gap: $margin-s;
            align-items: center;
            height: $navigation-height !important;
            padding: 0 !important;

            span.site-name {
                font-weight: 700;
                font-size: $text-m;
                color: $foreground;
            }
        }

        @media screen and (max-width: $adaptive-margin-s-width) {
            span.site-name,
            a.navbar-brand:not(:has(.logo)) {
                display: none !important;
                visibility: collapse !important;
            }
        }

        // @media screen and (max-width: 1000px) {
        span.usertext {
            display: none !important;
        }
        // }

        ul > li,
        ul > li > a,
        ul > li .dropdown-toggle,
        ul > li .popover-region-toggle {
            height: $navigation-height !important;
            align-items: center;
            padding: 0 !important;
            align-content: center;
        }

        // menu nav items
        > ul:nth-last-child(2) {
            flex-grow: 1;
            gap: $margin-m;

            li {
                border-radius: $corners !important;

                > a {
                    font-size: $text-m;
                    color: $foreground-secondary !important;
                    font-weight: 500;

                    &:hover {
                        color: $foreground !important;
                    }

                    &:focus,
                    &:active {
                        box-shadow: none !important;
                        -webkit-box-shadow: none !important;
                        color: $primary-hover !important;
                    }
                }
            }

            * {
                scrollbar-color: $border $background-secondary;
            }

            *::-webkit-scrollbar-thumb {
                background-color: $border;
                border-radius: $corners;
                border: 3px solid $background-secondary;
            }

            *::-webkit-scrollbar-track {
                background: $background-secondary;
            }
        }

        // pfp, notifications
        > ul:last-child {
            display: flex !important;
            align-items: center;
            gap: $margin-m;

            > div {
                display: none !important;
            }

            .popover-region-toggle {
                padding: 0 $margin-s !important;
            }

            i {
                color: $foreground-secondary !important;
            }

            div:focus {
                box-shadow: none !important;
                -webkit-box-shadow: none !important;

                i {
                    color: $primary-hover !important;
                }
            }

            // disabled, so why would we show that
            a[data-title="messages,message"] {
                display: none !important;
            }

            .dropdown-item:hover {
                .icon {
                    color: $foreground !important;
                }
            }

            .dropdown-item:active,
            .dropdown-item:focus {
                .icon {
                    color: $primary-hover !important;
                }
            }

            a#action-menu-toggle-1 {
                display: flex !important;
                align-items: center;
                padding: 0 !important;

                &::after {
                    color: $foreground-secondary !important;
                }

                &:focus {
                    box-shadow: none !important;
                    -webkit-box-shadow: none !important;

                    // TODO: idk, make it work
                }

                span.userbutton {
                    display: flex !important;
                    align-items: center;
                    gap: $margin-s;
                }

                b.caret {
                    margin: 0 !important;
                }

                img {
                    margin-right: $margin-xs !important;
                }
            }
        }

        .dropdown-menu,
        .popover-region-container {
            border-width: 0 1px 1px 1px !important;
            border-radius: 0 0 $corners $corners !important;
            padding: 0 0 $margin-xs 0 !important;
        }
    }

    > div#nav-drawer {
        background-color: $background !important;
        padding: 0 !important;
        margin: $margin-m + $navigation-height 0 $margin-m $adaptive-margin-max - $margin-s !important;
        display: flex !important;
        gap: $margin-m;
        flex-direction: column;
        border-radius: $corners;
        max-height: calc(100% - $navigation-height - $margin-m * 2) !important;
        height: auto !important;
        top: 0 !important;
        width: $drawer-width !important;

        transition: none !important;
        // transition:
        //     margin-left 0.5s ease 0s,
        //     margin-right 0.5s ease 0s,
        //     left 0.5s ease 0s !important;

        &.closed {
            left: calc(($drawer-width + $adaptive-margin-max) * -1);
        }

        @media screen and (max-width: $adaptive-margin-l-width) {
            & {
                margin-left: $adaptive-margin-l - $margin-s !important;
            }

            &.closed {
                left: calc(($drawer-width + $adaptive-margin-l) * -1);
            }
        }

        @media screen and (max-width: $adaptive-margin-m-width) {
            & {
                margin-left: $adaptive-margin-m - $margin-s !important;
            }

            &.closed {
                left: calc(($drawer-width + $adaptive-margin-m) * -1);
            }
        }

        @media screen and (max-width: $adaptive-margin-s-width) {
            & {
                margin-left: $adaptive-margin-s - $margin-s !important;
            }

            &.closed {
                left: calc(($drawer-width + $adaptive-margin-s) * -1);
            }
        }

        @media (max-width: $adaptive-margin-min-width) {
            & {
                margin-left: $adaptive-margin-min - $margin-s !important;
            }

            &.closed {
                left: calc(($drawer-width + $adaptive-margin-min) * -1);
            }
        }

        ul {
            display: flex !important;
            gap: $margin-xs;
            flex-direction: column;
        }

        li > a,
        li > div {
            border: none !important;
            background-color: $background !important;
        }

        // li:not(:first-child) span.media-body {
        //     text-wrap: nowrap !important;
        //     text-overflow: ellipsis;
        //     display: block !important;
        //     overflow: hidden;
        // }

        li:first-child a[data-key="coursehome"] {
            span.media-left {
                display: none !important;
            }
        }

        li > a {
            padding: $margin-s $margin-m !important;
            border-radius: $corners !important;

            div.ml-1 {
                margin: 0 !important;
            }

            span.media-body {
                color: $foreground !important;
            }

            span.media-left {
                color: $foreground-secondary !important;
                margin-right: $margin-m !important;
            }

            span {
                font-size: $text-m !important;
                font-weight: 500 !important;
            }

            &:hover {
                background-color: $button-hover-secondary !important;

                span,
                i {
                    color: $foreground !important;
                }
            }

            // when selected
            &.active {
                span,
                i {
                    color: $primary !important;
                }
            }

            &:focus {
                box-shadow: none !important;
                -webkit-box-shadow: none !important;
            }

            &:focus-visible,
            &.active:hover {
                box-shadow: none !important;
                -webkit-box-shadow: none !important;

                span,
                i {
                    color: $primary-hover !important;
                }
            }

            // when pressed
            &:active,
            &.active:active {
                background-color: $primary-hover !important;

                span,
                i {
                    color: $primary-foreground !important;
                }
            }
        }

        li:has(div.list-group-item) {
            margin-top: $margin-m !important;
            margin-bottom: calc(-1 * $margin-xs) !important;

            > div {
                padding: $margin-s $margin-m !important;
                margin: 0 !important;
            }

            span.media-left {
                display: none !important;
            }

            span.media-body {
                font-weight: 600 !important;
                text-transform: uppercase;
                font-size: $text-xs;
                color: $foreground-secondary;
            }
        }

        nav:last-child li:last-child > a {
            background-color: $background !important;

            span {
                color: $primary !important;
            }

            &:hover {
                background-color: $button-hover-secondary !important;

                span,
                i {
                    color: $primary-hover !important;
                }
            }

            &:focus {
                box-shadow: none !important;
                -webkit-box-shadow: none !important;

                span,
                i {
                    color: $primary-hover !important;
                }
            }
        }
    }
}
