// variables. initial values was took from login.mirea.ru,
// so it's pretty consistent.
// TODO: dark theme

$background: #f3f4f6;
$background-secondary: #ffffff;
$foreground: #111827;
$foreground-secondary: #6b7280;
$border: #d1d5db;
$button-hover: #f9fafb;
$button-hover-secondary: #eaebec;
$primary-foreground: #ffffff;
$primary: #2563eb;
$primary-hover: #1d4ed8;
$destructive: #dc2626;

$corners: 0.375rem;

$shadow: none;
$shadow:
    0 0 #0000,
    0 0 #0000,
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);

$shadow-drow-down:
    0 0 rgba(0, 0, 0, 0),
    0 0 rgba(0, 0, 0, 0),
    0 2px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);

$margin-xxs: 0.15rem;
$margin-xs: 0.25rem;
$margin-s: 0.5rem;
$margin-m: 1rem;
$margin-l: 1.5rem;
$margin-xl: 3rem;

$text-xs: 0.8rem;
$text-s: 0.9rem;
$text-m: 1rem;
$text-l: 1.1rem;
$text-xl: 1.25rem;
$text-xxl: 1.5rem;
$text-xxxl: 2rem;

$navigation-height: 3.5rem;
$drawer-width: 16rem;

$adaptive-margin-max: 12rem;
$adaptive-margin-l: 9rem;
$adaptive-margin-m: 6rem;
$adaptive-margin-s: 3rem;
$adaptive-margin-min: 1rem;

$adaptive-margin-l-width: 1600px;
$adaptive-margin-m-width: 1400px;
$adaptive-margin-s-width: 1250px;
$adaptive-margin-min-width: 950px;

// h2: font-weight 700; font-size: 1.875rem; line-height: 2.25rem; margin-top: 1.5rem;
